<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyoumusic.app">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="com.xiyoumusic.app.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activitys.MusicInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UploadMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SearchActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xiyoumusic.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activitys.ModifyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar.Bridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.PlaylistActivity"
            android:label="播放列表"
            android:screenOrientation="portrait" />

        <service android:name=".service.PlayService" />
    </application>

</manifest>